.contact-page{
    display: flex;
}
.form-container{
    
    width: 50%;
    margin: auto;
    padding: 10px;
    outline: none;
}
input[type=text],
input[type=email],
input[type=password],
input[type=submit],
input[type=reset]{
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    outline-color: rgb(225, 161, 255);
    border: 1px solid rgb(225, 161, 255);
}

.button1,
.button2{
    cursor: pointer;
}

input[type=submit]{
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase; 
    background: rgb(225, 161, 255);
    
}
input[type=reset]{
    background: rgb(225, 161, 255);
    color:#fff;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
}
.map-container{
    width: 50%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-text{
    font-family: sans-serif;

}

p{
    color:rgb(32, 1, 143);
    font-size: 10px;
}
.contact-box{
    background: rgb(237, 212, 248);
    align-items: center;
    display: flex;
    justify-content: space-around;

   
}
.icon{
    font-size: 15px;
    color:red;
    display: flex;
    flex-direction: column;
}
.map{
    font-size: 20px;
    color:red;
    

}
h5{
    font-family: sans-serif;
    color:rgb(26, 4, 105);
}
h4{
    color:rgb(57, 2, 253);
}



