@media (max-width: 900px) {
    .button-group {
    display: flex;
    flex-direction: column;
    }
    .button-group a {
    margin-bottom: 10px;
    text-align: center;
    }
    }
    @media (max-width: 810px) {
    footer {
    justify-content: center;
    }
    .social {
    justify-content: center;
    width: 100%;
    }
    }
    
    @media (max-width: 700px) {
    .getstart {
    flex-direction: column-reverse;
    margin-top: 20px;
    
    }

    .info,.picture {
    width: 100%;
    }
    .button-group {
    display: flex;
    flex-direction: row;
    }
    header {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    }
    ul {
    background: rgb(223, 169, 224);
    border-radius: 40px;
    box-sizing: border-box;
    width: 100%;
    }
    a {
    color: #000;
    }
    .active {
    border-radius: 40px 0 0 40px;
    }
    .active a {
    border-radius:1px;
    background: none;
    }
    .other-info {
    flex-direction: column;
    }
    .other-img1,.other-img2,.other-img3,.other-img4, nav {
    width: 100%;
    box-sizing: border-box;
    }
    .other-img2 {
    background: url(../img/other-3.png);
    background-size: cover;
    
    }
    .other-img3 {
    background: url(../img/other.png);
    background-size: cover;
    }
/* contact us responsive */
    .contact-page{
        flex-direction: column;

    }
    .map-container,  .form-container{
        width: 100%;
        box-sizing: border-box;

    }



    }
    
    @media (max-width: 678px ) {
    .button-group {
    display: flex;
    flex-direction: column;
    }
    .container {
    width: 90%;
    }
    ul {
    width: 99%;
    }
    .getstart {
        flex-direction: column-reverse;
        margin-top:0px;
        
        
        }
    
    }


