body{
    padding: 0px;
    margin: 0px;
    background: rgb(234, 204, 241);
    font-family: sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}
.container{
    background:#fff;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 4px 6px 5px 0px rgba(7,7,7,0.61);
    margin-top: 30px;
    
}
header{
    justify-content: space-between;
    display: flex;
    align-items: center;
}
ul{
    margin: 0;
    display: flex;
}
ul :hover{
    background: rgb(3, 183, 238);
    border-radius: 40px;

    color:black;
}

ul li{
    padding: 10px;
    list-style: none;
   
}

ul li a{
    text-decoration: none;
    text-transform: uppercase;
}
.active {
    background: rgb(3, 183, 238);
    border-radius: 40px;
    color: #fff;
}
.active a {
    color: #fff;
}
.picture{
    width: 200px;
    height: 40vh;
    box-sizing: border-box;
}
.eclipes1{
    width:20%;
    position: absolute;
    z-index: -1;
   
    right:1px;
}
.eclipes2{
    width: 15%;
    position: absolute;
    left:-10px;
    top: -18px;
    z-index: -1;
}
.eclipes3{
    width: 15%;
    position: absolute;
    left:-0px;
    top:400px;
    z-index: -1;
}
.eclipes4 {
    width: 30%;
    position: absolute;
    right:240px;
    top:200px;
}
.getstart{
    display: flex;
    margin-top: 100px;
    box-sizing: border-box;
    justify-content: space-around;
}
.info {
    width: 30%;
    box-sizing: border-box;
    line-height: 1.5;
    
}

.info .button-group {
    margin-top: 90px;
    display: flex;
    justify-content: space-around;
}
.button-group a{
    background: rgb(197, 166, 233);
    padding: 9px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
}
.button-group a:nth-child(1) {
    border:1px solid rgb(197, 166, 233);
    background: none;
    color: #000;
}
.button-group a:nth-child(1):hover {
    background: rgb(197, 166, 233);
    color: #fff;
}

.picture {
    background: #000;
    padding: 10px;
    background: url(../img/o.png);
    background-size: 65%;
    background-position: center 80%;
    background-repeat: no-repeat;
    height: 50vh;
    border-radius: 10px;
    width: 50%;
   
}
.pro-pic {
    width: 100%;
    box-sizing: border-box;
    height: auto;
}
footer {
    display: flex;
    justify-content: flex-end;
}
.social {
    display: flex;
    width: 30%;
    
}
ol {
    list-style: none;
    display: flex;
    font-size: 25px;
}
ol li  {
    padding: 10px;
 
}
ol li a {
    color: rgb(197, 166, 233);
}

