body{
    padding: 0px;
    margin: 0px;
    background: rgb(234, 204, 241);
    font-family: sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}
.container{
    background:#fff;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 4px 6px 5px 0px rgba(7,7,7,0.61);
    margin-top: 30px;
    
}
header{
    justify-content: space-between;
    display: flex;
    align-items: center;
}
nav ul{
    margin: 0;
    display: flex;
}
nav ul :hover{
    background: rgb(3, 183, 238);
    border-radius: 40px;

    color:black;
}

nav ul li{
    padding: 10px;
    list-style: none;
   
}

nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
}
.active {
    background: rgb(197, 166, 233);
    border-radius: 40px;
    color: #fff;
}
.active a {
    color: #fff;
}
.picture{
    width: 200px;
    height: 40vh;
    box-sizing: border-box;
}
.eclipes1{
    width:20%;
    position: absolute;
    z-index: -1;
   
    right:1px;
}
.eclipes2{
    width: 15%;
    position: absolute;
    left:-10px;
    top: -18px;
    z-index: -1;
}
.eclipes3{
    width: 15%;
    position: absolute;
    left:-0px;
    top:400px;
    z-index: -1;
}
.eclipes4 {
    width: 30%;
    position: absolute;
    right:-10px;
    top:100px;
}
.getstart{
    display: flex;
    margin-top: 100px;
    box-sizing: border-box;
    justify-content: space-around;
}
.info {
    width: 30%;
    box-sizing: border-box;
    line-height: 1.5;
    
}

.info .button-group {
    margin-top: 90px;
    display: flex;
    justify-content: space-around;
}
.button-group a{
    background: rgb(197, 166, 233);
    padding: 9px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
}
.button-group a:nth-child(1) {
    border:1px solid rgb(197, 166, 233);
    background: none;
    color: #000;
}
.button-group a:nth-child(1):hover {
    background: rgb(197, 166, 233);
    color: #fff;
}

.picture {
    background: #000;
    padding: 10px;
    background: url(../img/o.png);
    background-size: 65%;
    background-position: center 80%;
    background-repeat: no-repeat;
    height: 50vh;
    border-radius: 10px;
    width: 50%;
   
}
.pro-pic {
    width: 100%;
    box-sizing: border-box;
    height: auto;
}
footer {
    display: flex;
    justify-content: flex-end;
}
.social {
    display: flex;
    width: 30%;
    
}
ol {
    list-style: none;
    display: flex;
    font-size: 25px;
}
ol li  {
    padding: 10px;
 
}
ol li a {
    color: rgb(197, 166, 233);
}

/* other */

.other-info {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-direction: row-reverse;
    }
    .other-img1 {
    background: url('../img/other.png');
    background-size: cover;
    background-position: center 88%;
    width: 48%;
    border-radius: 0 10px 0 0;
    padding: 10px;
    line-height: 1.4;
    }
    .other-img2 {
    background: url('../img/other2.png');
    background-size: cover;
    background-position: center 88%;
    width: 48%;
    border-radius: 10px 0 0 0;
    padding: 10px;
    line-height: 1.4;
    }
    .vote {
    display: flex;
    justify-content: flex-end;
    
    }
    .vote a {
    padding: 10px;
    text-decoration: none;
    background: rgb(209, 120, 212);
    border-radius: 50%;
    margin-left: 10px;
    color: #fff;
    }
    
    

    
    .other-img3 {
    background: url('../img/other-4.png');
    background-size: cover;
    background-position: center 10%;
    width: 48%;
    border-radius: 0 0 0 10px;
    padding: 10px;
    line-height: 1.4;
    }
    
    .other-img4 {
    background: url('../img/other-3.png');
    background-size: cover;
    background-position: center 10%;
    width: 48%;
    border-radius: 0 0 10px 0;
    padding: 10px;
    line-height: 1.4;
    }
h3{

    color:rgb(0, 0, 129);
}
h2{
    color:rgb(0, 0, 129);
}